<!-- change_password.html -->
{% extends 'admin_layout.html' %}

{% block content %}
<div class="container mt-4">
    <h3>Change Password for User "{{ user.username }}"</h3>
    <form action="{{ url_for('admin.change_user_password', user_id=user.user_id) }}" method="post" id="changePasswordForm">
        <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" class="form-control" id="new_password" name="new_password" 
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                   title="Password must be at least 8 characters long and have a mix of character types." required>
            <small id="passwordHelpBlock" class="form-text text-muted">
                Password must be at least 8 characters long and have a mix of character types.
            </small>
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm New Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" 
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                   title="Please make sure your password match." required>
        </div>
        <div class="form-row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
            <div class="col text-right">
                <button type="button" onclick="history.back()" class="btn btn-secondary">Back</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
