{% extends 'admin_layout.html' %}

{% block title %}Sources{% endblock %}

{% block content %}
    <!-- Content Section -->
    <div class="content">
        <!-- Heading -->
        <h2 style="padding-top: 30px;">Sources</h2>
        <!-- Card for displaying sources -->
        <div class="card">
            <div class="card-body">
                <!-- Description of sources -->
                <p>Below are the references and sources for the content material used in this web application:</p>
                <ul>
                    <!-- List of sources -->
                    <li>Source 1: Description - <a href="https://agpest.co.nz/pest-directory/">https://agpest.co.nz/pest-directory/</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
