{% extends 'admin_layout.html' %}

{% block title %}Pest & Weed Directory{% endblock %}

{% block content %}
<style>
    .image-header {
        text-align: right; 
        padding-right: 15px; 
    }
    .image-cell {
        text-align: right; /* aligns the images to the right */
        vertical-align: middle; /* centers the images vertically */
    }
    .image-cell img {
        width: 150px;
        height: auto; 
        object-fit: cover; /* ensures the images cover the area without stretching */
    }
</style>


<!-- Tab Content -->
<div class="tab-content" id="pestWeedTabsContent">
    <!-- Pests Tab -->
    <div class="tab-pane fade show active" id="pests" role="tabpanel" aria-labelledby="pests-tab">
        <div class="content">
            <h2 style="padding-top: 30px;">Pest Directory</h2>
            <div class="table-responsive">
                <!-- Tab Navigation with inline "Add New Weed" button -->
                <div class="d-flex justify-content-between mb-3">
                    <!-- Tab Navigation -->
                    <ul class="nav nav-tabs" id="pestTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active btn-secondary" id="pests-tab" data-toggle="tab" href="#pests" role="tab" aria-controls="pests" aria-selected="true">Pests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-secondary" id="weeds-tab" data-toggle="tab" href="#weeds" role="tab" aria-controls="weeds" aria-selected="false">Weeds</a>
                        </li>
                    </ul>
                    <a href="{{ url_for('admin.add_pest_weed', type='pest') }}" class="btn btn-success">Add New Pest</a>
                </div>
                <!-- Table headers -->
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Common Name</th>
                            <th class="image-header">Image</th>
                        </tr>
                    </thead>
                     <!-- Table body -->
                    <tbody>
                        {% for item in pestList %}
                        <tr>
                            <td>{{ item.common_name|title }}</td>
                            <td class="image-cell">
                                <!-- Link to the detailed information page -->
                                <a href="{{ url_for('admin.view_pest_weed_details', agriculture_id=item.agriculture_id) }}">
                                    <img src="{{ url_for('static', filename=item.primary_image) }}" alt="{{ item.common_name }} Image" class="img-fluid" width="100">
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Weeds Tab -->
    <div class="tab-pane fade" id="weeds" role="tabpanel" aria-labelledby="weeds-tab">
        <div class="content">
            <h2 style="padding-top: 30px;">Weed Directory</h2>
            <div class="table-responsive">
                <!-- Tab Navigation with inline "Add New Weed" button -->
                <div class="d-flex justify-content-between mb-3">
                    <ul class="nav nav-tabs" id="WeedTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link btn-secondary" id="pests-tab" data-toggle="tab" href="#pests" role="tab" aria-controls="pests" aria-selected="true">Pests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active btn-secondary" id="weeds-tab" data-toggle="tab" href="#weeds" role="tab" aria-controls="weeds" aria-selected="false">Weeds</a>
                        </li>
                    </ul>
                    <a href="{{ url_for('admin.add_pest_weed', type='weed') }}" class="btn btn-success">Add New Weed</a>
                </div>
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Common Name</th>
                            <th class="image-header">Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in weedList %}
                        <tr>
                            <td>{{ item.common_name|title }}</td>
                            <td class="image-cell">
                                <!-- Link to the detailed information page -->
                                <a href="{{ url_for('admin.view_pest_weed_details', agriculture_id=item.agriculture_id) }}">
                                    <img src="{{ url_for('static', filename=item.primary_image) }}" alt="{{ item.common_name }} Image" class="img-fluid" width="100">
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block additional_scripts %}
<script>
    $(document).ready(function() {
    $('#pestTabs a').on('click', function(e) {
        e.preventDefault();
        
        // Remove 'active' class from all tabs
        $('#pestTabs a').removeClass('active');
        // Add 'active' class to the clicked tab
        $(this).addClass('active');
        
        // Show the correct tab content
        var selectedTab = $(this).attr('href');
        $('.tab-pane').removeClass('show active');
        $(selectedTab).addClass('show active');

        // Update the 'Add New' button's URL and text based on the selected tab
        var type = $(this).attr('aria-controls');
        $('.btn-success').attr('href', '{{ url_for('admin.add_pest_weed', type=type) }}').text('Add New ' + type.charAt(0).toUpperCase() + type.slice(1));
    });
});

</script>
{% endblock %}
