<!-- change_password.html -->

{% extends 'agronomist_layout.html' %}

{% block content %}
<!-- Form for changing password -->
<div class="container mt-4">
    <!-- Title for change password section -->
    <h2>Change Password</h2>
    <!-- Form for submitting password change request -->
    <form action="{{ url_for('agronomist.change_password') }}" method="POST" onsubmit="return validatePasswords()">
        <!-- Input field for entering old password -->
        <div class="mb-3">
            <label for="old_password" class="form-label">Old Password:</label>
            <input type="password" class="form-control" id="old_password" name="old_password" required>
        </div>
        <!-- Input field for entering new password -->
        <div class="mb-3">
            <label for="new_password" class="form-label">New Password:</label>
            <input type="password" class="form-control" id="new_password" name="new_password" 
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                   title="Password must be at least 8 characters long and have a mix of character types." required>
            <!-- Hint for password requirements -->
            <small id="passwordHelpBlock" class="form-text text-muted">
                Password must be at least 8 characters long and have a mix of character types.
            </small>
        </div>
        <!-- Input field for confirming new password -->
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm New Password:</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" 
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                   title="Please make sure your password match." required>
            <!-- Span element for displaying error message -->
            <span id="passwordMismatch" style="color: red; display: none;">New password cannot be the same as old password.</span>
        </div>
        <!-- Button for submitting password change -->
        <button type="submit" class="btn btn-dark">Change Password</button>
        <!-- Button for navigating back to agronomist profile -->
        <a href="{{ url_for('agronomist.agronomist_profile') }}" class="btn btn-dark">Back</a>
    </form>
</div>

<!-- JavaScript for validating passwords -->
<script>
    function validatePasswords() {
        var oldPassword = document.getElementById("old_password").value;
        var newPassword = document.getElementById("new_password").value;
        var confirmPassword = document.getElementById("confirm_password").value;

        // Check if new password is the same as old password
        if (oldPassword === newPassword) {
            document.getElementById("passwordMismatch").style.display = "block";
            return false; // Prevent form submission
        }
        return true; // Allow form submission
    }
</script>
{% endblock %}
