{% extends 'agronomist_layout.html' %}

{% block title %}{{ item.common_name|title }} Details{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-lg-8">
            <h2>{{ item.common_name|title }}</h2>
            <p><strong>Scientific Name:</strong> {{ item.scientific_name }}</p>
            <p><strong>Key Characteristics:</strong> {{ item.key_characteristics }}</p>
            <p><strong>Biology:</strong> {{ item.biology_description }}</p>
            <p><strong>Impacts:</strong> {{ item.impacts }}</p>
            <p><strong>Control:</strong> {{ item.control }}</p>
        </div>
        <div class="col-lg-4">
            <!-- Display the primary or additional image here -->
            {% for image in images %}
                <img src="{{ url_for('static', filename=image.filename) }}" alt="{{ item.common_name }} Image" class="img-fluid rounded mb-2" width="146">
            {% else %}
            <!-- If there are no images, show a placeholder -->
                <img src="{{ url_for('static', filename='No_Image_Available.jpg') }}" alt="Placeholder Image" class="img-fluid rounded mb-2" width="300">
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <a href="{{ url_for('agronomist.view_pest_directory') }}" class="btn btn-secondary">Back</a>
        </div>
    </div>
</div> 
{% endblock %}

