{% extends 'agronomist_layout.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

<div class="container mt-4">
<h2>Edit Profile</h2>

<form action="{{ url_for('agronomist.edit_profile') }}" method="POST">
    <div class="mb-3">
        <label for="Agronomist ID" class="form-label">Agronomist ID:</label>
        <input type="text" class="form-control" id="agronomist_id" name="agronomist_id" value="{{ user_data.agronomist_id }}" readonly>
    </div>
    
    <div class="mb-3">
        <label for="first_name" class="form-label">First Name:</label>
        <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user_data.first_name }}" required pattern="[A-Za-z ]+" title="First name must only contain letters and spaces.">
    </div>

    <div class="mb-3">
        <label for="last_name" class="form-label">Last Name:</label>
        <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user_data.last_name }}" required pattern="[A-Za-z ]+" title="Last name must only contain letters and spaces">
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" name="email" value="{{ user_data.email }}" required>
    </div>

    <div class="mb-3">
        <label for="address" class="form-label">Address:</label>
        <input type="text" class="form-control" id="address" name="address" value="{{ user_data.address|title }}" required>
    </div>

    <div class="mb-3">
        <label for="phone_number" class="form-label">Phone Number:</label>
        <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ user_data.phone_number }}" required pattern="[\d\-]+" title="Phone number must only contain numbers and hyphens.">
    </div>

    <div class="mb-3">
        <label for="date_joined" class="form-label">Date Joined:</label>
        <input type="date" class="form-control" id="date_joined" name="date_joined" value="{{ user_data.date_joined }}" readonly>
    </div>

    <div class="mb-3">
        <label for="status" class="form-label">Status:</label>
        <input type="text" class="form-control" id="status" name="status" value="{{ user_data.status|title }}" readonly>
    </div>

    <button type="submit" class="btn btn-dark">Update Profile</button>
    <a href="{{ url_for('agronomist.agronomist_profile') }}" class="btn btn-dark">Back</a>
</form>
</form>

</div>
{% endblock %}
