{% extends 'staff_layout.html' %}

{% block title %}{{ item.common_name|title }} Details{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-lg-8">
            <h2>{{ item.common_name|title }}</h2>
            <p><strong>Scientific Name:</strong> {{ item.scientific_name }}</p>
            <p><strong>Key Characteristics:</strong> {{ item.key_characteristics }}</p>
            <p><strong>Biology:</strong> {{ item.biology_description }}</p>
            <p><strong>Impacts:</strong> {{ item.impacts }}</p>
            <p><strong>Control:</strong> {{ item.control }}</p>
        </div>
        <div class="col-lg-4">
            <!-- Display the primary or additional image here -->
            {% for image in images %}
                <img src="{{ url_for('static', filename=image.filename) }}" alt="{{ item.common_name }} Image" class="img-fluid rounded mb-2" width="146">
            {% else %}
            <!-- If there are no images, show a placeholder -->
                <img src="{{ url_for('static', filename='No_Image_Available.jpg') }}" alt="Placeholder Image" class="img-fluid rounded mb-2" width="300">
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <!-- Edit button -->
            <a href="{{ url_for('staff.update_pest_weed_details', agriculture_id=item.agriculture_id) }}" class="btn btn-success">Edit</a>
            <!-- Add Picture button -->
            <a href="{{ url_for('staff.manage_images', agriculture_id=item.agriculture_id) }}" class="btn btn-success">Manage Pictures</a>
            <!-- Delete button -->
            <a href="#" onclick="confirmDelete({{ item.agriculture_id }})" class="btn btn-danger">Delete</a>
            <!-- Back button -->
            <a href="{{ url_for('staff.view_pest_directory') }}" class="btn btn-secondary">Back</a>
        </div>
    </div>
</div>

<script>
    function confirmDelete(agricultureId) {
        var confirmAction = confirm("Are you sure you want to delete this item?");
        if (confirmAction) {
            // Generate the deletion URL using JavaScript
            var deletionUrl = "{{ url_for('staff.delete_pest_weed', agriculture_id=999) }}".replace("999", agricultureId);
            window.location.href = deletionUrl;
        } else {
            console.log("Deletion canceled");
        }
    }
</script>
{% endblock %}
