{% extends 'staff_layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<!-- This block represents the profile page -->
<div class="content">
    <h2 style="padding-top: 30px;">Profile Page</h2>
    <!-- Card for displaying account details -->
    <div class="card">
        <div class="card-body">
            <p>Your account details are below:</p>
            <!-- Table for displaying account information -->
            <table>
                <tr>
                    <td>Username:</td>
                    <td>{{ account.username }}</td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>{{ account.password }}</td>
                </tr>
                <tr>
                    <td>Full Name:</td>
                    <td>{{ account.first_name }} {{ account.last_name }}</td>
                </tr>
                <tr>
                    <td>Staff ID:</td>
                    <td>{{ account.staff_id}} </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{ account.email }}</td>
                </tr>
                <tr>
                    <td>Position:</td>
                    <td>{{ account.role|title }}</td>
                </tr>
                <tr>
                    <td>Work Phone Number:</td>
                    <td>{{ account.work_phone_number }}</td>
                </tr>
                <tr>
                    <td>Hire Date:</td>
                    <td>{{ account.hire_date }}</td>
                </tr>
                <tr>
                    <td>Department:</td>
                    <td>{{ account.department|title }}</td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>{{ account.status|title }}</td>
                </tr>
            </table>
            <!-- Buttons Container -->
            <div class="d-flex justify-content-end mt-3">
                <!-- Edit Profile Button -->
                <a href="{{ url_for('staff.edit_profile') }}" class="btn btn-dark">Edit Profile</a>
                
                <!-- Change Password Button -->
                <a href="{{ url_for('staff.change_password') }}" class="btn btn-dark">Change Password</a>
            </div>
        </div>
    </div>
</div>
<!-- End of content -->
{% endblock %}
<!-- End of content block -->
