{% extends 'staff_layout.html' %}

{% block title %}Agronomist Profiles{% endblock %}

{% block content %}
<!-- This block represents the table of agronomist profiles -->
<div class="content">
    <h2 style="padding-top: 30px;">Agronomist Profiles</h2>
    <!-- Table starts here -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Agronomist ID</th>
                    <th>User ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Date Joined</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through agronomistList to populate table rows -->
                {% for agronomist in agronomistList %}
                <tr>
                    <td>{{ agronomist.agronomist_id }}</td>
                    <td>{{ agronomist.user_id }}</td>
                    <td>{{ agronomist.first_name|title }}</td>
                    <td>{{ agronomist.last_name|title }}</td>
                    <td>{{ agronomist.address|title }}</td>
                    <td>{{ agronomist.email }}</td>
                    <td>{{ agronomist.phone_number }}</td>
                    <td>{{ agronomist.date_joined }}</td>
                    <td>{{ agronomist.status|title }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Table ends here -->
</div>
<!-- End of content -->
{% endblock %}
<!-- End of content block -->
