<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Biosecurity</h1>
                <a href="{{ url_for('staff.staff_home') }}"><i class="fas fa-home"></i>Home</a>
				<a href="{{ url_for('staff.view_agronomist_profile') }}"><i class="fas fa-user-circle"></i>Agronomist Profiles</a>
				<a href="{{ url_for('staff.view_pest_directory') }}"><i class="fas fa-bug"></i>Pest Directory</a>
				<a href="{{ url_for('staff.staff_profile') }}"><i class="fas fa-user-circle"></i>Profile</a>
				<a href="{{ url_for('staff.sources') }}"><i class="fas fa-book"></i>Sources</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
			<div class="alert alert-{{ category }}">
				{{ message }}
			</div>
			{% endfor %}
		{% endif %}
		{% endwith %}
		<div class="container-lg">
			{% block content %}{% endblock %}
		</div>
	<!-- jQuery and Popper.js for Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
	</body>
</html>