{% extends 'staff_layout.html' %}

{% block title %}Add Pest/Weed Details{% endblock %}

{% block content %}

{% for item in pestDirectoryList %}
<tr>
    <td>{{ item.item_type|title }}</td>
    <td>{{ item.common_name|title }}</td>
    <td>
        <a href="{{ url_for('staff.view_pest_weed_details', agriculture_id=item.agriculture_id) }}">
            <img src="{{ url_for('static', filename=item.primary_image) }}" alt="{{ item.common_name }} Image" width="100">
        </a>
    </td>
    <td>
        <!-- Delete Button Form -->
        <form action="{{ url_for('staff.delete_pest_weed', agriculture_id=item.agriculture_id) }}" method="POST">
            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
        </form>
    </td>
</tr>
{% endfor %}
