{% extends 'staff_layout.html' %}

{% block title %}Pest & Weed Directory{% endblock %}

{% block content %}
<h2 class="mb-4">Pest & Weed Directory</h2>
<div class="container mt-4">
    <div class="row justify-content-end mb-3">
        <a href="{{ url_for('staff.add_pest_weed') }}" class="btn btn-success">Add New</a>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Type</th>
                    <th>Common Name</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {% for item in pestDirectoryList %}
                <tr>
                    <td>{{ item.item_type|title }}</td>
                    <td>{{ item.common_name|title }}</td>
                    <td>
                        <!-- Link to the detailed information page -->
                        <a href="{{ url_for('staff.view_pest_weed_details', agriculture_id=item.agriculture_id) }}">
                            <img src="{{ url_for('static', filename=item.primary_image) }}" alt="{{ item.common_name }} Image" class="img-fluid" width="100">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
